@font-face {
  font-family: "Mont";
  src: url("/fonts/mont/Montserrat-Medium.ttf") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Mont;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-weight: 700;
  font-size: 22px;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.header.hidden {
  transform: translateY(-100%);
}

.mainHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 124px;
}

.mainHeader {
  padding-inline: 76px;
}

.viewport1 {
  height: 100vh;
  width: 100%;
  background-color: #efefef;
}

.brandContainer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logoContainer {
  height: 33px;
}

.logoContainer svg {
  color: #0142ff;
}

.promo {
  font-size: 16px;
  font-weight: 100;
  display: flex;
  align-items: center;
  height: 57px;
  background-color: #0142ff;
  color: #ffffff;
  overflow: hidden;
}

.promoTrack {
  display: flex;
  width: max-content;
  animation: scrollPromo 50s linear infinite;
}

.promoTextContainer {
  display: flex;
  gap: 32px;
  white-space: nowrap;
}

@keyframes scrollPromo {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.promo p {
  flex-shrink: 0;
}

.accountBasketContainer {
  display: flex;
  gap: 12px;
}

.searchBurgerContainer {
  display: flex;
  gap: 30px;
}

.burgerContainer {
  display: none;
}

.menuMobileContainer {
  display: none;
  position: fixed;
  bottom: 0;
  height: 64px;
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) -210%, #000 100%);
  width: 100%;
  padding-inline: 40px;
  justify-content: space-between;
  align-items: center;
}

.menuMobileContainer svg {
  color: #fff;
}

/* footer */

.footer {
  background-color: #151515;
  padding-inline: 64px;
  color: ;
}

/* main */

.main {
  padding-top: 124px;
}

@media (max-width: 1133px) {
  .catalog,
  .about {
    display: none;
  }

  .burgerContainer {
    display: block;
  }

  .mainHeader {
    padding-inline: 40px;
  }
}

@media (max-width: 600px) {
  .header {
    display: none;
  }

  .main {
    padding: 0;
  }

  .menuMobileContainer {
    display: flex;
  }
}
