@font-face {
  font-family: "Mont";
  src: url("/fonts/mont/Mont-SemiBold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont-light";
  src: url("/fonts/mont/Mont-Light.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Mont;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-weight: 700;
  font-size: 24px;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.header.hidden {
  transform: translateY(-100%);
}

.mainHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 124px;
}

.mainHeader {
  padding-inline: 76px;
}

.viewport1 {
  height: 100vh;
  width: 100%;
  background-color: #efefef;
}

.brandContainer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logoContainer {
  height: 33px;
}

.logoContainer svg {
  color: #0142ff;
}

.promo {
  font-size: 18px;
  font-weight: 100;
  display: flex;
  align-items: center;
  height: 57px;
  background-color: #0142ff;
  color: #ffffff;
  overflow: hidden;
}

.promoTrack {
  display: flex;
  width: max-content;
  animation: scrollPromo 50s linear infinite;
}

.promoTextContainer {
  display: flex;
  gap: 32px;
  white-space: nowrap;
}

@keyframes scrollPromo {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.promo p {
  flex-shrink: 0;
}

.accountBasketContainer {
  display: flex;
  gap: 12px;
}

.searchBurgerContainer {
  display: flex;
  gap: 30px;
}

.burgerContainer {
  display: none;
}

.menuMobileContainer {
  display: none;
  position: fixed;
  bottom: 0;
  height: 64px;
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) -210%, #000 100%);
  width: 100%;
  padding-inline: 40px;
  justify-content: space-between;
  align-items: center;
}

.menuMobileContainer svg {
  color: #fff;
}

/* footer */

.footer {
  background-color: #151515;

  padding-top: 67px;
  color: #ffffff;
}

.firstFooter {
  margin-bottom: 44px;
  font-size: 52px;
  padding-inline: 64px;
}

.secondFooterContainer {
  display: flex;
  padding-inline: 64px;
}

.secondFooter {
  display: flex;
  gap: 64px;
}

.aboutFooter {
  width: 425px;
}

.aboutFooter h2,
.buyers h2 {
  color: #606060;
  margin-bottom: 18px;
}

.aboutFooter p {
  font-family: Mont-light;
  font-size: 16px;
}

.moreDetails {
  margin-top: 16px;
}

.linksBuyers {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 20px;
}

.sotialsContainer {
  width: 313px;
  margin-left: auto;
}

.sotialsContainer .paragraph {
  font-family: Mont-light;
}

.emailContainer {
  margin-bottom: 18px;
  font-size: 32px;
}

.emailContainer span {
  color: blue;
}

.sotialLinksContainer {
  display: flex;
  gap: 20px;
  margin-top: 24px;
}

.vkContainer path,
.telegramContainer path {
  color: #151515;
}

.vkContainer svg,
.telegramContainer svg,
.wupContainer svg {
  width: 100%;
}

.wupContainer {
  color: rgb(1, 66, 255);
}

.wupContainer path {
  color: #fff;
}

.thirdFooter {
  display: flex;
  align-items: center;
  height: 86px;
  margin-top: 64px;
  border-top: 1px solid #3b3b3b;
}

.thirdFooterText {
  width: 100%;
  padding-inline: 64px;
  display: flex;
  justify-content: space-between;
  font-family: Mont-light;
  color: #777777;
}

.footerTablet {
  display: none;
  background-color: #151515;
  padding-top: 35px;
  color: #ffffff;
}

.fourFooter {
  padding-inline: 32px;
  margin-top: 34px;
}

.footerPhone {
  display: none;
  background-color: #151515;
  color: #ffffff;
  padding-top: 19px;
  padding-bottom: 60px;
}

/* main */

.main {
  padding-top: 124px;
}

@media (max-width: 1400px) {
  .footer {
    display: none;
  }

  .firstFooter p {
    font-size: 42px;
  }

  .firstFooter,
  .secondFooterContainer {
    padding-inline: 32px;
  }

  .logoFooter svg {
    width: 64px;
    height: 64px;
  }

  .footerTablet {
    display: block;
  }

  .aboutFooter {
    width: 100%;
    margin-top: -5px;
  }

  .aboutFooter h2 {
    font-size: 20px;
  }

  .linksBuyers {
    flex-direction: row;
    justify-content: space-between;
  }

  .sotialsContainer {
    margin: 0;
    padding-inline: 32px;
    width: 100%;
    margin-top: 34px;
  }

  .sotialLinksContainer {
    justify-content: space-between;
  }

  .thirdFooter {
    margin-top: 32px;
  }

  .secondFooter {
    gap: 32px;
  }
}

@media (max-width: 1133px) {
  .catalog,
  .about {
    display: none;
  }

  .burgerContainer {
    display: block;
  }

  .mainHeader {
    padding-inline: 40px;
  }
}

@media (max-width: 600px) {
  .header {
    display: none;
  }

  .main {
    padding: 0;
  }

  .menuMobileContainer {
    display: flex;
  }

  .footerTablet {
    display: none;
  }

  .footerPhone {
    display: block;
  }

  .titleFooter {
    font-size: 28px;
    text-align: center;
    padding-inline: 16px;
  }

  .logoFooter {
    width: max-content;
    margin: 40px auto 32px;
  }

  .logoFooter svg {
    width: 100px;
    height: 100px;
  }

  .aboutFooter {
    padding-inline: 16px;
    text-align: center;
  }

  .fourFooter {
    padding: 0;
    margin-inline: auto;
    width: max-content;
  }

  .linksBuyers {
    flex-direction: column;
  }

  .emailContainer {
    font-size: 20px;
    width: max-content;
    margin-inline: auto;
  }

  .sotialsContainer {
    margin-top: 16px;
  }

  .vkContainer,
  .telegramContainer,
  .wupContainer {
    background-color: #fff;
    width: 100%;
    height: 42px;
    border-radius: 10000px;
    position: relative;
  }

  .wupContainer {
    background-color: blue;
  }

  .vkContainer svg,
  .telegramContainer svg,
  .wupContainer svg {
    position: absolute;
    top: 35%;
  }

  .sotialsContainer .paragraph {
    text-align: center;
  }

  .thirdFooterText {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}
